---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import segz from '../../public/assets/images/ado.png';
import Image from '~/components/common/Image.astro';
const metadata = {
  title: 'About us',
};
import foodCourt from '../../public/assets/images/hero_images/IMG_2058.jpg';
import couch from '../../public/assets/images/hero_students_blue.png';
import garden from '../../public/assets/images/hero_images/IMG_2047.jpg';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- image={{
    src: segz,
    alt: 'Ado',
  }} -->
  <Hero
    tagline="ABOUT US"
   
  >

  <Image
  src={garden}
  class="max-w-full mx-auto mb-12 sm:rounded-md bg-gray-400 dark:bg-slate-700"
  // widths={[400, 900]}
  // sizes="(max-width: 900px) 350px, 900px"
  alt={''}
  width={950}
  height={500}
  loading="eager"
  decoding="async"
/>

    <Fragment slot="title">
      GET TO KNOW <br />
      <span class="text-accent dark:text-white highlight">NUMSA</span>
    </Fragment>

    <Fragment slot="subtitle"  class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px]" >
     <span > NUMSA, the official representative body of medical students at Nile University of Nigeria, transcends tribal,
      religious, linguistic, and national boundaries. Bearing the full name "NILE UNIVERSITY MEDICAL STUDENTS’
      ASSOCIATION" (NUMSA), its primary mission is to enhance the overall well-being and development of its student
      body. This encompasses academic growth and the acquisition of skills essential for thriving in the 21st century.
      NUMSA serves as a foundational stepping stone towards realizing the inherent greatness within both current and
      future students. </span> <br /> <br/> 
      <span >The association serves to represent all medical students and our interests guided
      by the rules of morality and discipline set by our prestigious college in order to enable medical students translate
      our noble initiatives to reality. </span> <br /> <br />

      <span >Comprising more than 600 medical students from diverse backgrounds, NUMSA
      stands as one of Nigeria's premier medical colleges, ranked among the top 45 institutions of its kind across the nation
      and the Federal Capital Territory. The organization boasts a well-structured framework, featuring over 28 dedicated
      service offices, all committed to catering to the needs of medical students at Nile University. </span> <br/> <br /> 
      
      <span >The driving
      force behind NUMSA is its fervent commitment to empowering the next generation of healthcare professionals. Through
      the provision of knowledge, skills, and resources, the organization fosters collaboration, advances medical education,
      extends humanitarian aid, and strives to improve healthcare access for all, thereby leaving a lasting positive impact
      on global well being.</span> <br/> <br />
      
      <span >NUMSA is affiliated with organizations, such as: Nigerian Medical Association (NMA), Nigerian
      Medical Students’ Association (NiMSA), International Federation of Medical Students’ Association (IFMSA), Federation
      of African Medical Students’ Association (FAMSA),… and other Students’ Organizations. </span>
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Our Numbers"
    stats={[
      { title: 'Students', amount: '618' },
      { title: 'Offices', amount: '22' },
      { title: 'Committees', amount: '17' },
      { title: 'Patrons', amount: '11' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Students"
    subtitle="In our members, you will find the following:"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Empathy',
        description:
          'Our Medical students possess the ability to understand and share the feelings of their peers and patients.',
        icon: 'tabler:template',
      },
      {
        title: 'Resilience',
        description:
          'Medical school is challenging, and resilience is essential for coping with the rigorous demands of medical education and training.',
        icon: 'tabler:template',
      },
      {
        title: 'Problem-solving skills',
        description:
          'Medical students must be adept at analyzing complex situations and finding effective solutions, both in clinical settings and during their studies.',
        icon: 'tabler:template',
      },
    ]}
     image={{
      src: couch,
      alt: 'foodCourt',
    }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Communication skills',
        description:
          'Effective communication is vital in healthcare, and medical students work on honing their ability to convey information clearly and empathetically to patients, families, and colleagues.',
        icon: 'tabler:template',
      },
      {
        title: 'Teamwork',
        description:
          'Collaborating with fellow students, residents, and healthcare professionals is crucial in providing comprehensive patient care, making teamwork a valuable skill for medical students.',
        icon: 'tabler:template',
      },
      {
        title: 'Integrity',
        description:
          ' Medical students are expected to adhere to high ethical standards, maintaining honesty, trustworthiness, and professionalism in all aspects of their practice.',
        icon: 'tabler:template',
      },
      // {
      //   title: 'Branding',
      //   description:
      //     'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
      //   icon: 'tabler:template',
      // },
      // {
      //   title: 'Medical',
      //   description:
      //     'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
      //   icon: 'tabler:template',
      // },
      // {
      //   title: 'Fashion Design',
      //   description:
      //     'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
      //   icon: 'tabler:template',
      // },
    ]}
    image={{
      src: foodCourt,
      alt: 'couch',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="We foster within our members professionalism, advocacy, education, and community engagement, fostering a supportive environment for students while promoting high standards of medical practice. They advocate for diversity, inclusivity, and global health initiatives, working to address health disparities and promote ethical practice. Through leadership development and a focus on student well-being, these associations empower future healthcare leaders to navigate complex challenges and advocate for positive change in healthcare systems worldwide."
    items={[
      {
        title: 'Leadership Development',
        description:
          'Providing opportunities for medical students to develop leadership skills, assume roles of responsibility within the association, and prepare for future leadership roles in healthcare.',
      },
      {
        title: 'Advocacy',
        description:
          'Advocating for the interests and rights of medical students, as well as promoting health-related policies and initiatives at local, national, and international levels.',
      },
      {
        title: 'Inclusion',
        description:
          'Celebrating diversity and promoting inclusivity within the medical profession, addressing issues related to gender, race, ethnicity, sexual orientation, and socioeconomic background.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  
  <Steps2
    title="Achievements"
    subtitle="Our dedication to leadership development has empowered countless students to become future leaders in healthcare, while our commitment to student well-being has fostered supportive communities and promoted mental health awareness."
    isReversed={true}
    callToAction={{
      text: 'Back Home!',
      href: '/',
    }}
    items={[
      {
        title: 'Community Outreach',
        description: 'Organizing health awareness campaigns, free medical clinics, and volunteer activities to serve underserved communities and promote public health.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Providing workshops, seminars, and mentorship programs to enhance students clinical skills, leadership abilities, and career development prospects.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Leadership Opportunities',
        description:
          'Providing platforms for students to take on leadership roles within the association, develop their organizational skills, and contribute to the governance and direction of the MSA.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  /> -->
</Layout>
